.box-shadow {

  &--play-button{
    background-color: white;
    border-radius: 100%;
    box-shadow: 3px 12px 22px -5px rgba(194,194,194,1);
  }

  &--play-button-game{
    background-color: white;
    border-radius: 100%;
    box-shadow: none;
  }

  &--plus{
    background-color: white;
    border-radius: 100%;
    /* box-shadow: 0px 0px 16px 43px rgba(194,194,194,0.17); */
    /* opacity: .86; */
    box-shadow: 0px 0px 0px 32px rgba(235,235,235,0.39);
  }

  &--img {
    @media screen and (min-width: 800px) {
      box-shadow: 21px 29px 27px -14px rgba(166,166,166,1);
    }
  }


}
