.column {

  &--accessories-1-text-content{
    padding-bottom: 60px;
  }

  &--accessories-1-img{
    padding-bottom: 70px;
  }

  &--accessories-2-text-content{
    padding-bottom: 60px;
  }

  &--accessories-2-img{
    padding-bottom: 47px;
    text-align: center;
  }

  &--creative-img{
    padding-top: 20px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: 800px) {
    &--about-text-content {
      width: 50%;
    }

    &--about-img {
      width: 50%;
    }

    &--accessories-1-img{
      width: 60%;
    }

    &--accessories-1-text-content{
      width: 50%;
    }

    &--accessories-2-text-content{
      width: 50%;
      text-align:left;
    }

    &--accessories-2-img{
      width: 60%;
    }

    &--creative-img{
      width: 50%;
      padding-top: 40px;
      padding-bottom: 0px;
    }

    &--creative-text-content{
      width: 40%;
      margin-left: 70px;
    }

  }


  @media screen and (min-width:970px){
    &--accessories-1-img{
      width: 60%;
    }

    &--accessories-1-text-content{
      width: 32%;
    }
  }


  @media screen and (min-width: 1020px) {
    &--about-text-content {
      width: 33.33%;
    }

    &--about-img {
      width: 66.66%;
    }

    &--creative-img{
      padding-top: 60px;
      padding-bottom: 0px;
    }

    &--creative-text-content{
      width: 27%;
      margin-left: 130px;
      margin-top: 100px;
    }


  }






}
