.heading{

  &--small{
    font-weight: 500;
    line-height: 19px;
    margin: 0px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &--medium{
    font-size: 20px;
    line-height: 27px;
    width: 280px;
  }

  &--large{
    font-size: responsive 22px 40px;
  }


  &--about{
    max-width: 480px;
  }

  &__border-bottom{
    border-bottom: 7px solid black;
    max-width: 100px;
    margin-bottom: 40px;
  }

  &--center{
    text-align: center;
  }

  &--accessories{
    margin: 0px 0px 5px 0px;
    font-weight: 500;
  }

  &--accessories-bold{
    font-weight: 600;
  }

}
