.heading{

  &--small{
    font-weight: 500;
    line-height: 17px;
    margin: 0px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &--medium{
    font-size: 20px;
    line-height: 27px;
    width: 280px;
  }

  &--large{
    font-size: responsive 22px 40px;
  }


  &--about{
    max-width: 480px;
  }

  &__border-bottom{
    border-bottom: 7px solid black;
    max-width: 100px;
    margin-bottom: 40px;
  }

  &--design{
    text-align: center;
  }

}
