.page-section{

  &--about{

    padding-bottom: 55px;

    @media screen and (min-width: 800px){
      padding-bottom: 120px;
    }

    @media screen and (min-width: 1020px){
      padding-bottom: 180px;
    }

  }

  &--design{

    padding-bottom: 40px;

    @media screen and (min-width: 800px){
      padding-bottom: 70px;
    }

    @media screen and (min-width: 1020px){
      padding-bottom: 90px;
    }

  }

  &--accessories-1{

    @media screen and (min-width: 800px){
      padding-bottom: 50px;
    }

    @media screen and (min-width: 1020px){
      padding-bottom: 80px;
    }

  }

}
