.row{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;

  &--header{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media screen and (min-width: 800px){

    flex-direction: row;
    align-items: center;

    &--gutters{
      margin-right: -48px;
    }


    &--gutters > div{
      padding-right: 63px;
    }

    &--gutters > .column--accessories-2-text-content,
    &--gutters > .column--accessories-2-img{
      padding-right: 0px;
      margin-left: 37px;
    }
  }

  & .column--accessories-1-img{

    @media screen and (min-width: 800px){
      order: 1;
    }
  }

  & .column--accessories-1-text-content{

    @media screen and (min-width: 800px){
      order: 2;
    }
  }


}
