.text-content{
  color: #6D6D6D;
  max-width: 100%;
  font-size: 15px;
  line-height: 25px;

  &--accessories-2{

    @media screen and (min-width: 800px){
      max-width: 90%;
    }

    @media screen and (min-width: 1020px){
      max-width: 60%;
    }

  }

  &--center{
    text-align: center;
    width: 700px;
    margin: 50px auto;
    padding: 0px 5px;
  }

  &--link{
    font-size: responsive 13px 14px;

    @media screen and (min-width: 700px){
      max-width: 90%;
      margin: 20px auto;
    }

    @media screen and (min-width: 800px){
      max-width: 70%;
      margin:0;
    }

    @media screen and (min-width: 1020px){
      max-width: 55%;
      margin: 0;
    }


  }

}
